<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/j2ee/web-app_3_0.xsd" version="3.0">
  <display-name></display-name>
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>com.zhaopin.util.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>com.zhaopin.servlet.UserLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.zhaopin.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SchoolLoginServlet</servlet-name>
    <servlet-class>com.zhaopin.servlet.SchoolLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SchoolHomeServlet</servlet-name>
    <servlet-class>com.zhaopin.servlet.SchoolHomeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SchoolJobServlet</servlet-name>
    <servlet-class>com.zhaopin.servlet.SchoolJobServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.zhaopin.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ZhaopinServlet</servlet-name>
    <servlet-class>com.zhaopin.servlet.ZhaopinServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>JoblistServlet</servlet-name>
    <servlet-class>com.zhaopin.servlet.JoblistServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>JobSearchServlet</servlet-name>
    <servlet-class>com.zhaopin.servlet.JobSearchServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserlistServlet</servlet-name>
    <servlet-class>com.zhaopin.servlet.UserlistServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManlistServlet</servlet-name>
    <servlet-class>com.zhaopin.servlet.ManlistServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminhomeServlet</servlet-name>
    <servlet-class>com.zhaopin.servlet.AdminhomeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminuserServlet</servlet-name>
    <servlet-class>com.zhaopin.servlet.AdminuserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserhomeServlet</servlet-name>
    <servlet-class>com.zhaopin.servlet.UserhomeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserqiuzhiServlet</servlet-name>
    <servlet-class>com.zhaopin.servlet.UserqiuzhiServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>JobdetailServlet</servlet-name>
    <servlet-class>com.zhaopin.servlet.JobdetailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MandetailServlet</servlet-name>
    <servlet-class>com.zhaopin.servlet.MandetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/UserLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SchoolLoginServlet</servlet-name>
    <url-pattern>/SchoolLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SchoolHomeServlet</servlet-name>
    <url-pattern>/SchoolHomeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SchoolJobServlet</servlet-name>
    <url-pattern>/SchoolJobServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ZhaopinServlet</servlet-name>
    <url-pattern>/ZhaopinServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JoblistServlet</servlet-name>
    <url-pattern>/JoblistServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JobSearchServlet</servlet-name>
    <url-pattern>/JobSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserlistServlet</servlet-name>
    <url-pattern>/UserlistServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManlistServlet</servlet-name>
    <url-pattern>/ManlistServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminhomeServlet</servlet-name>
    <url-pattern>/AdminhomeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminuserServlet</servlet-name>
    <url-pattern>/AdminuserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserhomeServlet</servlet-name>
    <url-pattern>/UserhomeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserqiuzhiServlet</servlet-name>
    <url-pattern>/UserqiuzhiServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JobdetailServlet</servlet-name>
    <url-pattern>/JobdetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MandetailServlet</servlet-name>
    <url-pattern>/MandetailServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>